footer {
  height: 450px;
  background-color: #000;
  color: #fff !important;
  line-height: 1.6 !important;
  bottom: 0;
  opacity:1;
  z-index: 999;
  position: relative;


  .footer-content {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
  }

  img {
    height: 75px;
  }

  h2 {
    color: white;
    text-align: center;
    line-height: .1;
  }

  h4 {
    color: white;
    text-align: center;
    line-height: 1.5;
    margin-top: 12px;
    font-size: 30px;
  }

  .fancy {
    font-family: 'Source Serif Pro', serif;
    line-height: 10% !important;
    font-size: 40px;
  }

  ul {

    padding:0;
    text-align: center;
    display: block;
    margin-top: 15px;
    line-height: .6;
    font-size: 30px;
  }

   li {
     display:inline;
     word-spacing: 15px;


     a {
       color: #fff;
       text-decoration: none !important;
       transition: .5s;
     }
     a:hover{
       color: $secondary-color;
     }
   }
 }

//    .border-between > [class*='col-']:before {
//    background: #e3e3e3;
//    bottom: 0;
//    content: " ";
//    left: 0;
//    position: absolute;
//    width: 1px;
//        top: 0;
//     }
//
//     .border-between > [class*='col-']:first-child:before {
//        display: none;
//     }
// }
