body, html {
  font-family:$base-font-family;
  font-size:$base-font-size;
  line-height:1.7em;
  color:$base-font-color;
  // overflow-x: hidden;
  background: #ebffff;
  height:100%;
  width: 100% !important;
  padding:0 !important;
  // margin:0 !important;
  margin-right:-500px !important;
}
