.carousel-fade {
	.carousel-item {
		display: block;
		position: absolute;
		opacity: 0;
		transition: opacity .5s ease-in-out;
		z-index: 0;

		&.active {
			opacity: 1;
		}
	}
}


 // Custom styles for this pen
html,
body,
.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100%;
	transition: $carousel-transition;

}

.carousel {
  // position: absolute;
  top: 125px;
  left: 0;
	z-index: 0;
}
.carousel {
		position:fixed;
		padding-bottom:0;
		background:$dark-color;

.carousel-indicators li {
width: 15px;
height: 15px;
border-radius: 100%;
}
	}


	/* how long VUE VUE VUE VUE transition will take */
	.slide-fade-enter-active {
	  transition: 1s ease;
	}
	.slide-fade-leave-active {
	  transition: 1s ease;
	}


// STYLINGS FOR THE INPUT FORM ON THE CONTACT PAGE //


.section-contact {

input, label {
  display: block;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
	font-size: 30px;
}

.brand {
  text-align: center !important;
}


.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

h1 {
	font-size: 65px;
}

h3 {
	font-size: 50px;
}

.form-img {
	height: 300px;
	margin:15px auto;
	width:100%;
	display: block;
}

.contact {
  background: $primary-color;
}

// FORM STYLES - INNPUTS AND WHATNOT //

.contact {


  form {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  button {
    background: $light-color;
    border: 0;
    text-transform: uppercase;
  }

  label {
    display:block;
		font-size: 30px;
  }
ul {

  p {
    margin: 0;
		font-size: 30px;
  }
}

li {
	line-height: 3;
	img {
		height: 100px;
		width: 100px;
	}
}

  .full {
    grid-column: 1 / 3;
  }


  button, input, textarea {
    width: 100%;
    padding: 1em;
		font-size:30px;
    border: 1px solid $dark-color;
    transition: all 1s ease-out;;
  }
}
}

.contact form button:hover, .contact form button:focus {
  background: $dark-color;
  color:#fff;
  outline:0;

}

// LARGE SCREEN MEDIA QUERIES //

@media(min-width:700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding:2em;
  }
  .company-info{
		background: $dark-color;
		color: #fff;

		 h3, ul, .brand {
    text-align: left;

  }
}

}
}
